.login-page {
    height: 100vh;
}

.bg-theme {
    background: #F7F5FF;
}

.login-img-contain {padding: 5vh 2vw;text-align: center;}

.login-logo {width: 100%;}

.login-logo img {
    width: 50%;
}

.login-banner img {
    width: 25vw;
}

.login-banner {
    margin-top: 18vh;
}

.login-form {
    padding: 0;
    width: 32vw;
    margin: 0 auto;
}

.btn-login {
    background: linear-gradient(45deg, #825FFF, #6236FF);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 8rem;
    justify-content: center;
    box-shadow: 0 0 0.25rem 0.175rem #EAF1F5;
    padding: 10px 30px;
    border-radius: 50px;
    margin-top: 15px;
    border: 0;
}

.btn-login img {
    margin-top: -4px;
    margin-left: 10px;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

button.btn.btn-light-primary.btn-login {
    background: #eff8fd;
    box-shadow: 0 0 0;
}

button.btn.btn-light-primary.btn-login span {
    margin-right: 10px;
}

.m-40 {
    margin-bottom: 40px;
}

.btn-primary:hover {
    background-color: #206397;
    border-color: #206397;
}

.text-primary {
    color: #6236fe !important;
}

.form-group.confirm-message {
    text-align: center;
}

.form-group.confirm-message img {
    margin-bottom: 20px;
    width: 5vw;
}

.form-group.confirm-message {
    margin: 30px 0;
}

.form-group.confirm-message p {
    font-size: 14px;
}

.m-auto {
    margin: 0 auto;
}

/*Register CSS*/
.register ::-webkit-input-placeholder {
    color: #495057;
    text-transform: capitalize;
}
.register input, .register select {
    outline: none !important;
    box-shadow: none !important;
    font-size: 0.95rem;
}
.register p, .register-content > p {
    font-size: 0.75rem;
    color: #a2a2a2;
    margin: 0;
}
.register-content > p {
    font-size: 0.9rem;
}
.register-content-item > div {
    background-color: #fff;
    padding: 1rem;
}
.register-list li {
    font-size: 0.9rem;
    padding: 0.5rem 1rem 0.5rem 1.75rem;
    background: url(../img/checked.svg) no-repeat;
    background-size: 1rem;
    background-position: center left;
}
.list-title {
    font-size: 1rem;
    font-weight: 600;
}
.register-content-item > div {
    position: relative;
    padding-bottom: 2.5rem;
}
.register-content-item > div:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: #6236fe;
}
.register-content-item:first-child > div:before {
    background-color: #a2a2a2;
}
.login-logo.register {
    max-width: 15rem;
}
.login-logo.register img {
    width: 100%;
}
.register .btn {
    font-size: 0.85rem;
    min-width: auto;
}
/*Register CSS*/



@media only screen and (max-width: 991px) {
    .login-img-contain {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 30px;
    }
    
    .login-logo img {
        width: 50%;
    }
    
    .login-banner {
        margin-top: 5vh;
    }
    
    .login-banner img {
        width: 60vw;
    }
    
    .login-form {
        width: 90vw;
        flex: 0 0 100%;
        max-width: 90vw;
        margin-bottom: 40px;
    }

    .form-group.confirm-message img {
        width: 25vw;
    }
  }


@media screen and (max-width: 575px) {
    .register-content-item {
        width: 100% !important;
        flex: 1 0 100%;
        padding: 0 !important;
        margin-bottom: 1.5rem;
    } 
    .register-content-item:last-child {
        margin: 0;
    }
}