header {
    height: 5.315rem;
    /* box-shadow: 0 0 2px 2px #f2f1ff; */
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
    transition: background-color 0.3s linear;
}

a {
    color: #663dfe;
}

a:hover {
    color: #3a2390;
    text-decoration: none;
}

header nav ul li.nav-item a {
    font-weight: 500;
    font-size: 1.15rem;
} 
header nav ul li.nav-item a {
    color: #000 !important;
} 
header nav ul li.nav-item a.active, header nav ul li.nav-item a:hover {
    color: #6236FF !important;
} 
a.navbar-brand {
    width: 8.5rem;
    padding: 0;
}
.m-t-15 {
    margin-top: 15px;
}
.header-btn {
    border-radius: 30px;
    background-color:#fff;
    border: 1px solid #6236FF;
    color: #6236FF;
    font-size: 14px;
    padding: .375rem 2rem;
    transition: all 0.3s linear;
}
.header-btn:hover {
    border-color: transparent;
    background: linear-gradient(45deg, #825FFF, #6236FF);
    color: #fff;
}

main {
    padding-top: 5.315rem;
}

/*Banner CSS*/
.banner {
    height: calc(826px - 5.315rem);
    position: relative;
    padding: 0 !important;
}
.banner-title {
    font-size: 2.8rem;
    font-weight: 600;
}
.banner-content {
    padding: 0 5rem;
    z-index: 9;
}
.sub-title {
    color: #333333;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}
.page-btn {
    /* background: linear-gradient(45deg, #825FFF, #6236FF); */
    background: #7d5aff;
    transition: 0.2s ease-in;
    display: flex;
    border: 1px solid #7d5aff;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 5rem;
    min-width: 8rem;
    justify-content: center;
    box-shadow: 0 0 0.25rem 0.175rem #EAF1F5;
}

.page-btn:hover {
    background: #fff;
    color: #7d5aff;
    transition: 0.2s ease-out;
}


.page-btn span {
    color: #fff;
}

.page-btn:hover span {
   color: #7d5aff;
}

.page-btn > * {
    color: #fff;
    text-transform: uppercase;
}
.has-img img {
    max-width: 1.25rem;
    margin-right: 0.5rem;
}
/*Banner CSS*/

.common-section {
    padding: 3rem 0;
}
.blue-bg {
    background-color: #FAF9FF;
}
.activity-list {
    margin-top: 1.5rem !important;
}
.activity-icon {
    max-width: 100px;
    margin: 0 auto 0px;
}
.activity-icon img {
    max-width: 75%;
    width: 100%;
}
.activity-content h4 {
    font-size: 1.50rem;
    font-weight: 600;
}
.activity-content p {
    font-size: 1.20rem;
    margin: 0;
}
.activity-content {
    width: 55%;
    margin: 0 auto;
}

.modal-dialog.modal-dialog-centered {
    width: 80vw;
    max-width: 80vw;
}

button.close span {
    font-size: 30px;
}

/*Grid CSS*/

.grid .grid-list a {
    border: 0.25rem solid #ffffff;
    background-color: #f9f8ff;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    line-height: normal;
    flex-wrap: wrap;
    height: 100%;
    border-radius: 0.35rem;
    padding: 3.25rem 1rem 3rem;
}
.grid .grid-list a * {
    flex: 1 0 100%;
    max-width: 100%;
    color: #333;
    font-size: 1.15rem;
    font-weight: 600;
}
.grid .grid-list a:hover {
    background-color: #f2f1ff;
    border: 0;
    border-top: 0.25rem solid #653aff;
}
.grid .grid-list a img {
    width: 100%;
    max-width: 2.5rem;
    margin: 0 auto 0.5rem;
    height: 3rem;
}
.modal-header .banner-title { 
	font-size: 1.5rem;
}
.modal-body .screenshot-block {
    width: auto;
    min-height: 30vw;
}
/*Tabs CSS*/
.tabs .nav-tabs {
    border: 0;
}
.tabs .nav-tabs li {
    width: calc(100% / 7);
    padding-right: 5px;
}
.tabs .nav-tabs li:last-child {
    padding: 0;
}
.tabs .nav-tabs li a {
    background-color: #f9f8ff;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    line-height: normal;
    flex-wrap: wrap;
    height: 100%;
    border-radius: 0.35rem;
    padding: 1.25rem 1rem 1rem;
}
.tabs .nav-tabs li a.active {
    background-color: #f2f1ff;
    border: 0;
    border-top: 0.25rem solid #653aff;
}
.tabs .nav-tabs li a img {
    width: 100%;
    max-width: 2.5rem;
    margin: 0 auto 0.5rem;
    height: 3rem;
}
.tabs .nav-tabs li a * {
    flex: 1 0 100%;
    max-width: 100%;
    color: #333;
    font-size: 1.15rem;
    font-weight: 600;
}
.tabs .tab-content {
    margin-top: 1rem;
}
.tabs .tab-pane {
    background-color: #f2f1ff;
    border-radius: 0.5rem;
    height: 30rem;
}
.navbar-brand img {
    width: 100%;
}
.banner-img img {
    width: 60vw;
}

.banner-img {
    position: absolute;
    top: -5.315rem;
    width: 60%;
    max-width: 100%;
    right: 0;
    height: calc(100% + 5.315rem);
    padding: 0;
    background: url(../img/banner3.svg);
    background-color: #fff;
    background-size: cover;
    background-position: left top;
}
.common-details {
    background: url(../img/bg.svg) no-repeat;
    background-position: right center;
    background-size: 50vw;
}
.return-of-investment {
    background: #f7f5ff;
    padding: 30px;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto !important;
}
/*Tabs CSS*/

.screenshot-block {
    width: 35vw;
    height: 40vh;
    border: 5px solid #242323;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 20px 20px 0px rgb(0 0 0 / 0.10)
}
.screenshot-block img {
    width: 100%;
    max-width: 100%;
}
.common-details ul li {
    list-style: decimal;
    list-style-position: inside;
}

.tools-content {
    padding: 2.5rem 2rem 7rem;
    border: 0.05rem solid #DBDBDB;
    border-radius: 1.5rem;
    box-shadow: 0 10px 20px rgb(0 0 0 / 5%);
}
.tools-list .banner-title {
    font-size: 2.15rem;
    margin-bottom: 2rem;
}
.tools-list ul li {
    padding-left: 2.25rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.tools-list ul li:before {
    content: "";
    position: absolute;
    top: 0.75rem;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: #6236FF;
    left: 0.5rem;
}
.custom-btn-md {
    min-width: 175px;
}
.custom-btn-xs {
    min-width: 200px;
}
.tools-list .page-btn, .tools-list .page-btn-group {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translate(-50%, 0);
}
.tools-content.has-offer-head {
    position: relative;
}
.tools-list .page-btn-group .page-btn {
    position: static;
    transform: none;
    display: inline-block;
    vertical-align: middle;
}

.get-started {
    padding-bottom: 10rem;
    position: relative;
    overflow: hidden;
}
.get-started:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5%;
    width: 110%;
    background: linear-gradient(to bottom, #fff 60%, #F0ECFF);
    height: 40rem;
    border-radius: 50%;
    z-index: -1;
}
.get-started-list .activity-content h4 {
    font-size: 1.5rem;
}
.get-started-list {
    margin: 6rem 0 !important;
}

.get-started-list > div {
    position: relative;
}
.get-started-list > div:after {
    content: "";
    position: absolute;
    width: 3rem;
    background: url(../img/icon-right.svg) no-repeat;
    background-position: center;
    top: 30%;
    transform: translate(0, -50%);
    right: -1.5rem;
    height: 2rem;
    background-size: contain;
}
.get-started-list > div:last-child:after {
    display: none;
}

.ready {
    padding: 5rem 0;
}
.ready-block {
    background: url(../img/ready-bg.svg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 2.5rem 2rem 3.5rem;
    border-radius: 1.5rem;
    overflow: hidden;
}

/* footer {
    padding: 3rem 0 0;
} */

.testimonial-list h2.banner-title {
    margin-top: 2.5rem;
    font-size: 2rem;
}

footer .main-container {    
    /* border-top: 0.15rem solid #e6e6e6; */
    border-bottom: 0.15rem solid #e6e6e6;
    padding: 3rem 0;
}

footer p, footer ul li a, footer ul li a:hover {
    font-size: 1rem;
    color: #a2a2a2;
    margin: 0;
}

.footer-logo {
    max-width: 200px;
    margin-bottom: 1.25rem;
}

ul.social-media-list {
    margin-bottom: 10px;
}

ul.social-media-list ~ p {
    padding-right: 12px;
}

.footer-title {
    font-size: 1.15rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 0.25rem;
}
.social-media-list li {
    display: inline-block;
    vertical-align: middle;
    padding-right: 0.5rem;
}
.social-media-list li:last-child {
    padding-right: 0;
}
.social-media-list li a {
    display: block;
    color: #383D4A;
}
.social-media-list li a i {
    font-size: 1.5rem;
}

footer input.form-control {
    width: 100%;
    border-radius: 2rem;
    font-size: 0.95rem;
    padding: .375rem 1.25rem;
    height: 2.75rem;
}

footer > p {
    padding: 1.5rem 0;
    color: #000;
    margin: 0;
    font-size: 0.85rem;
}

.support-channel a {
    color: #797979;
}

.support-channel a {
    width: 22px;
    margin: 0 0 0 5px;
}
.support-channel p img {
    width: 17px;
}

.support-channel p:last-child img {
    width: 10px;
    margin: 0 2px 0 4px;
}


footer .support-channel p {
    margin-bottom: 5px;
}


.common-tab-block .tab-pane {
    padding: 3rem;
    overflow-y: auto;
}
.comparison-table thead th {
    background-color: #E7DEFF;
    font-size: 0.85rem;
    border: 0;
    text-align: center;
}
.comparison-table thead th:first-child {
    width: 15rem;
}
.comparison-table tbody tr:first-child td {
    background-color: #F1ECFF;
    border: 0;    
}
.comparison-table tbody tr td:first-child {
    text-align: left;
    min-width: 15rem;
}
.comparison-table tbody tr td {
    font-size: 0.95rem;
    text-align: center;
    border: 0;
}

.comparison-table tbody tr td img {
    width: 30px;
    height: 30px;
    padding: 1px;
    display: inline-block;
    border-radius: 100%;
    max-width: 2.25rem;
}
.comparison-table tbody tr.tick td img {
    max-width: 2.25rem;
}
.comparison {
    border-radius: 0.5rem;
    border: 0.1rem solid #E7DEFF;
    overflow: auto;
}


.ready-block .page-btn {
    box-shadow: none;
}

footer ul li a.active {
    color: #663bff;
    font-weight: 600;
}
.navbar-light .navbar-toggler[aria-expanded="true"] {
    border-color: transparent;
}
.navbar-light .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background: url(../img/icon-x.svg) no-repeat;
    background-size: 1rem;
    background-position: center;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(../img/icon-menu.svg);
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.ri-price-block {
    width: 100%;
    border-radius: 0.75rem;
    background-color: transparent;
    padding: 1rem;
}
.ri-price-block ul li {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.comparison-sec h2.banner-title {
    margin: 0 auto;
}

.comparison-sec p.sub-title {
    width: 100%;
}

.ri-price-value {
    margin-left: auto;
    text-align: right;
}
.ri-price-value p {
    margin-bottom: 0;
}
.ri-price-value p:first-child {
    font-size: 1.35rem;
    font-weight: 600;
}
.ri-price-value .ri-price-xs {
    font-size: 0.95rem;
}
.ri-price-container .page-btn {
    margin: 0 0 1.5rem auto;
    background-color: #01A546;
    border-color: #01A546;
}
.ri-price-container .page-btn:hover {
    background-color: #fff;
    border-color: #01A546;
}
.ri-price-container .page-btn:hover span {
    color: #01A546;
}

.ri-price-container.p-0 {
    background: #fff;
}

/* .col-12 .range-wrap:first-child {
    margin-top: 34px !important;
} */
.has-offer-head {
    padding: 0 !important;
    overflow: hidden;
}
.has-offer-head > ul {
    padding: 2.5rem 2rem 7rem;
}
.offer-head h4 {
    margin: 0;
    text-align: center;
    padding: 1rem;
    padding-bottom: 4rem;
    position: relative;
    z-index: -1;
}
.offer-head h4 {
    margin: 0;
    text-align: center;
}
.offer-head-content {
    padding: 2rem 0 1.25rem;
    border: solid 0.1rem;
    border-color: #fff transparent transparent transparent;
    border-radius: 50%/1.5rem 1.5rem 0 0;
    margin-top: -3rem;
}
.offer-head-content p {
    margin: 0 0 0.35rem;
    font-size: 1.05rem;
}
.offer-head-content p:last-child {
    margin: 0;
}
.offer-head-content p img {
    max-width: 1.15rem;
    margin-right: 0.35rem;
}
.gold {
    background-color: #FFDEDF;
}
.silver {
    background-color: #D8D9FE;
}
.bronze {
    background-color: #D1F8FC;
}
.offer-head-content.gold {
    background-color: #FFE8E8;
}
.offer-head-content.silver {
    background-color: #E7E8FF;
}
.offer-head-content.bronze {
    background-color: #E0FDFF;
}
.faq {
    background-color: #F9F7FF;
}
#faqCollapse {
    width: 90%;
    margin: 0 auto !important;
}
#faqCollapse .panel-title {
    margin: 0;
    line-height: 2.35rem;
}
#faqCollapse .panel-title a {
    display: block;
    border-bottom: 0.1rem solid #979797;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    font-size: 1.15rem;
    color: #000;
    background: url(../img/plus.svg) no-repeat;
    background-size: 0.85rem;
    background-position: left center;
    text-decoration: none !important;
}
#faqCollapse .panel-title a[aria-expanded="true"] {
    background: url(../img/minus.svg) no-repeat;
    background-size: 0.85rem;
    background-position: left center;
    text-decoration: none !important;
}
#faqCollapse .panel-body {
    padding: 1rem;
    font-size: 1.05rem;
}

#faqCollapse .panel-default {
    margin-bottom: 1rem;
}
#faqCollapse .panel-default:nth-child(odd) {
    padding-right: 2rem;
}
#faqCollapse .panel-default:nth-child(even) {
    padding-left: 2rem;
}

.pricing .tools-list {
    margin: 0 !important;
    padding-top: 3rem;
}

.pricing .tools-list > .col-12 {
    position: relative;
}
.offer {
    background: url(../img/offer3.svg) no-repeat;
    background-position: left top -2.3rem;
    position: absolute;
    top: -2rem;
    left: -0.85rem;
    width: 10rem;
    height: 11rem;
    background-size: 100% 100%;
}

.pricing .tools-list > .col-12:first-child ~ .col-12 .offer {
    left: 0.1rem;
}
.slidecontainer input {
    width: 100%;
}
.activity-list.get-started-list img {
    max-width: 90%;
    width: 100%;
}

.activity-list.get-started-list .activity-icon{
    margin: 0 auto 20px;
}
.cr_total {
    margin: 0;
    font-size: 0.85rem;
    text-align: left;
    border: 1px solid #ddd;
    line-height: 1.75rem;
    border-radius: 0;
    background: #fff;
    padding: 0 0.5rem;
    max-width: 5rem;
    display: block;
}
.price-title-img {
    text-align: right;
}
.price-title-img img {
    max-width: 30px;
    opacity: .75;
}


/* Single Page */
.single-page .banner .banner-title.text-center {
    width: 100%;
    margin-bottom: 30px;
}

.single-page .banner-title {
    margin: 0 auto 20px;
}

.single-page .banner-list li {
    font-size: 16px;
    padding: 5px 0;
}

.single-page .banner-list li img {
    width: 22px;
    margin-right: 10px;
}

.single-page p.sub-title {
    margin-bottom: 10px;
}

.banner-forms input {
    border-radius: 50px;
    padding: 10px 18px;
    width: 70%;
}

.slidecontainer {
    position: relative;
    margin-top: -0.65rem;
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 20px;
    background: #D6D6D6;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 50px;
    border: 0.2rem solid #01A546;
    width: 0.85rem; /* Set a specific slider handle width */
    height: 0.85rem; /* Slider handle height */
    background: #fff; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #01A546; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

.header-white-bg {
    background-color: #fff !important;
    box-shadow: 0 0 0.125rem 0.125rem #f2f1ff;
}

.nav-item-4 li.nav-item {
    width: calc(100% / 4) !important;
}
.tab-h-auto .tab-pane {
    height: auto !important;
}
.has-active-tab {
    margin: 0 !important;
}
.has-active-tab li.nav-item .nav-link {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.tabs .tab-h-auto .tab-pane  {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.features-tab-block {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.features-tab-block .nav {
    margin: 0 0 0.3rem;
}
.features-tab-block .tab-content {
    margin: 0 0 0.3rem;
}
.features-tab-block > div {
    flex: 1 0 100%;
}
.features-tab-block > div:last-child {
    margin-bottom: 0.3rem;
}

.offer-block { 
    padding: 3rem 0;
    background: url(../img/offer-banner.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.offer-block:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(48 75 92 / 95%);
}
.offer-block > .w-50 > * {
    position: relative;
}
.offer-block * {
    color: #fff;
    text-align: center;
}

.offer-block a {
    display: block;
    text-align: center;
}
.pricing-block > .d-flex > * {
    /* flex: 1 0 100%; */
    margin: 0 0.5rem 0.5rem 0;
}
.pricing-block > .free-text > * {
    flex: 1 0 100%;
}
.pricing-block > .d-flex:not(.free-text) > *:last-child {
    margin: 0 0.5rem 0 0;
    flex: 1 0 100%;
    max-width: 100%;
}
.offer-text + h2 {
    margin-right: 0 !important;
}
.pricing-block > .w-50 {
    padding: 0 2rem;
}
.pricing-block h2 {
    font-size: 2.5rem;
}
.pricing-block h3 {
    margin-right: 1rem;
}
.pricing-block h5 {
    font-size: 0.95rem;
}

.pricing-value * {
    font-size: 1.5rem;
    margin: 0;
}
.pricing-block h4, .pricing-block h3 {
    margin: 0;
}
.start-btn {
    margin-top: 1rem;
    background-color: #F75800;
    border-color: #F75800;
    box-shadow: 0 0 0.25rem 0.175rem #2e4757;
}
.start-btn:hover {
    color: #F75800;
}
.offer-title {
    position: relative;
}
.offer-title::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2rem;
    height: 0.15rem;
    background-color: #F75800;
}
.offer-block a:hover {
    text-decoration: underline;
    color: #fff;
}
.offer-text {
    position: relative;
}

.offer-text:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
    height: 0.1rem;
    background-color: #F75800;
    width: 2.5rem;
}
.offer-block h4 span {
    font-size: inherit;
    color: #F75800;
}
.free-text span {
    margin-right: 0.5rem;
}
.free-text span:last-child {
    margin: 0;
}
.pricing-block {
    margin-bottom: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pricing-block > .w-50:first-child {
    border-right: 0.05rem solid #fff;
}

.free-text {
    margin-bottom: 1rem;
}
.free-text > * {
    margin: 0;
    padding: 0 0.5rem 0 0;
    text-align: left;
}
.free-text p {
    padding: 0 0 0 1.5rem;
    background: url(../img/tick.svg) no-repeat;
    background-size: 1rem;
    background-position: left center;
    font-size: 1rem;
}
.ri-price-container.p-0 {
    background-color: transparent;
}
h2 b {
    font-size: inherit;
}

.offer-head .offer-text + p {
    font-size: 1.5rem;
    font-weight: 600;
}
.offer-head-content .red-text {
    font-size: 1.2rem;
}
.offer-head-content .offer-text:after {
    transform: translate(-50%, -50%) rotate(0);
    width: 9vw;
}
.nav-link.page-btn {
    border-radius: 5rem;
}
.pricing-tab .nav-tabs .nav-item {
    margin-right: 1rem;
}
.pricing-tab .nav-tabs .nav-item:last-child {
    margin-right: 0;
}
.pricing-tab .nav-tabs .nav-item .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: transparent;
    outline: none !important;
}
.pricing-tab .nav-tabs .nav-item .nav-link.active {
    color: #fff;
    background-color: #7d5aff;
    border-color: transparent;
}
.pricing-tab .nav-tabs .nav-item .nav-link:focus {
    box-shadow: 0 0 0.25rem 0.175rem #EAF1F5;
}
.offer-block button {
    margin-top: 2.5rem;
}
.testimonial-icon {
    max-width: 7rem;
    border-radius: 50%;
    overflow: hidden;
}
.testimonial-icon img {
    width: 100%
}
.testimonial-content {
    max-width: calc(100% - 7rem);
    padding: 0 0 0 2rem;
}
.testimonial-content p:last-child {
    font-size: 1rem;
}
.blog-item {
    border: 0.1rem solid #ddd;
    border-radius: 2rem;
    padding: 2rem;
}
.blog-title {
    font-size: 2.15rem;
    font-weight: 600;
}
.blog-content a {
    color: #000;
}
.blog-content a:hover {
    text-decoration: underline;
}
.blog-details-block span {
    font-size: 0.85rem;
    padding: 0.15rem 0.35rem;
}
.tags {
    background-color: #f2f1ff;
    border-radius: 0.35rem;
}
.blog-content h4, .blog-content h5 {
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    .main-container {
        width: 991px;
    }
}

@media screen and (min-width: 1550px) {
    .main-container {
        width: 1450px;
    }
}

@media screen and (max-width: 991px) {
    .return-of-investment {
        width: 100%;
    }
    .main-container {
        width: 90%;
    }
    .banner {
        height: 54vh;
    }
    .banner-content {
        padding: 0 3rem 0 0;
    }
    .banner-title {
        font-size: 2.25rem;
    }
    .screenshot-block {
        width: 40rem;
        max-width: 100%;
		height: 13rem;
    }
    .employee-activity, .ready-block {
        width: 95% !important;
    }
    .ready-block {
        background-size: cover;
        background-position: center;
        border-radius: 1.5rem;
    }
    .common-details-item {
        padding: 0;
        text-align: left !important;
        margin-top: 0;
    }
    .common-details-item .white-text {
        color: #000 !important;
    }
    .screenshot-block {
        margin: 2rem auto 0 !important;
    }
    .common-section .common-details-item.col-lg-8 {
        order: 2;
    }
    .tools-list > .col-12 {
        padding: 0;
        margin-bottom: 3rem;
    }
    .tools-list > .col-12 {
        padding: 0;
        margin-bottom: 3rem;
    }
    
    div#navbarSupportedContent {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #fff;
        z-index: 50;
    }

    .navbar-toggler {
        position: relative;
        z-index: 51;
    }
    div#navbarSupportedContent.show {
        display: flex;
        flex-wrap: wrap;
    }
    
    div#navbarSupportedContent ul {
        margin: 0 !important;
        flex: 1 0 100%;
        max-width: 100%;
    }
    div#navbarSupportedContent .form-inline {
        align-items: center;
        justify-content: center;
        flex: 1 0 100%;
        max-width: 100%;
    }
    div#navbarSupportedContent .form-inline .btn:first-child {
        position: relative;
        left: -30%;
        opacity: 0;
        animation: slideLeft 0.3s linear 1s forwards;
    }
    div#navbarSupportedContent .form-inline .btn:last-child {
        position: relative;
        right: -30%;
        opacity: 0;
        animation: slideRight 0.3s linear 1s forwards;
    }

    @keyframes slideLeft {
        0% { left: -30%; opacity: 0; }
        100% { left: 0; opacity: 1; }
    }
    @keyframes slideRight {
        0% { right: -30%; opacity: 0; }
        100% { right: 0; opacity: 1; }
    }
    div#navbarSupportedContent ul li a.nav-link {
        font-size: 2rem;
        padding: 1rem 2rem;
        position: relative;
        top: 2rem;
        opacity: 0;
        animation: slideUp 0.3s linear 1s forwards;
    }

    @keyframes slideUp {
        0% { top: 2rem; opacity: 0; }
        100% { top: 0; opacity: 1; }
    }

    .common-details {
        background: none;
    }
    /* .common-details > .main-container > .row:nth-child(odd) {
        background: url(../img/bg.svg) no-repeat;
        background-position: right bottom 15%;
        background-size: 40%;
    }
    .common-details > .main-container > .row:nth-child(even) {
        background: url(../img/bg.svg) no-repeat;
        background-position: left bottom 15%;
        background-size: 40%;
    } */

    .tabs .nav-tabs {
        border: 0;
        flex-wrap: nowrap;
        overflow: auto;
        padding: 0 0 1rem;
    }
    .tabs .nav-tabs li {
        max-width: 10rem;
        padding-right: 0.325rem;
        flex: 1 0 10rem;
    }
    footer > .main-container > .row > .col-12 {
        margin-bottom: 1rem;
    }
    footer > .main-container > .row > .col-12:last-child {
        margin-bottom: 0;
        text-align: left;
        margin-top: 2rem;
    }
    footer > .main-container > .row > .col-12:last-child .page-btn {
        margin: 0 auto;
    }
    .common-tab-block > .tab-pane > .row > .col-12 {
        padding: 0 !important;
        height: auto !important;
    }
    .pricing .tools-list > .col-12:first-child ~ .col-12 .offer {
        left: -0.85rem;
    }
    .offer-block > .w-50 {
        width: 80% !important;
    }
    .features-tab-block .nav-tabs {
        padding: 0;
    }
    .nav-item-4 li.nav-item {
        margin: 0;
        min-width: 14rem;
        max-width: calc(100% / 4);
    }
    .testimonial-content {
        max-width: 100%;
    }
    .testimonial-icon {
        margin: 0 auto 2rem;
    }
    .testimonial-item {
        align-items: stretch !important;
    }
}

@media screen and (max-width: 767px) {
    .testimonial-list h2.banner-title {
        margin: 0 0 3rem;
    }
    .banner-img {
        display: none;
    }
    .banner-content {
        padding: 0;
    }
    .activity-list > .col-12 {
        margin-bottom: 10rem;
    }
    .activity-list > .col-12:last-child {
        margin-bottom: 0;
    }
    .tabs .tab-pane {
        height: 22rem;
    }
    .ready-block {
        text-align: center;
    }
    .page-btn {
        margin: 0 auto;
    }
    .get-started:after {
        display: none;
    }    
    .banner-content .page-btn {
        margin: 0;
    }
    #faqCollapse .panel-default:nth-child(odd), #faqCollapse .panel-default:nth-child(even) {
        padding: 0;
    }
    .return-of-investment > .col-12:first-child {
        margin-bottom: 3rem;
    }
    .get-started-list > div {
        margin-bottom: 10rem;
    }
    .get-started-list > div:after {
        top: auto;
        bottom: -6rem;
        right: auto;
        left: 50%;
        transform: translate(-50%, 0) rotate(90deg);
    }
    .ri-price-block {
        padding: 0;
    }
    .ri-price-container .page-btn {
        margin: 2rem auto 0 auto;
    }
    .common-tab-block .tab-pane {
        padding: 2.25rem;
    }
}

@media screen and (max-width: 575px) {
    .banner-title {
        font-size: 1.75rem;
    }
    .main-container {
        width: 85%;
    }
    .navbar {
        padding: 0.5rem 0;
    }
    .sub-title {
        font-size: 1.15rem;
    }
    .offer-block > .w-50 {
        width: 90% !important;
    }
    .common-tab-block .tab-pane {
        padding: 1.75rem;
    }
    .pricing-block > .w-50 {
        width: 100% !important;
        justify-content: center !important;
        border: 0 !important;
    }
    .pricing-block > .w-50 > h5 {
        text-align: center !important;
        margin-bottom: 1rem !important;
    }
    .free-text > * {
        margin-right: 0 !important;
        text-align: center;
    }
    .free-text > p {
        flex: 1 0 40% !important;
        max-width: 40%;
        text-align: left;
        margin: 0 !important;
    }
   
}

@media screen and (max-width: 450px) {
    .pricing-block > .w-50 {
        padding: 0 1rem;
    }
    .free-text > p {
        flex: 1 0 50% !important;
        max-width: 50%;
        padding: 0 1.5rem;
    }
}